{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ if hasKey .darwin "taps" -}}
{{ range .darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}
{{ range .darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ if .company -}}
{{ with index . .company -}}
## {{ $.company }}
{{ if hasKey . "taps" -}}
{{ range .taps -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}
{{ range .brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .personal -}}
## personal
{{ range .personal_apps.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
